{% if config.THEME_SETTINGS.show_feature_section == "true" %}
<!-- Start service Area -->
<section class="service-area section-gap" id="feature">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Features That make us Unique</h1>
                    <p>Who wants to be the same as everyone else? Stand out!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 secvice-left">
                <div class="single-service d-flex flex-row pb-30">
                    <div class="icon">
                        <h1>01</h1>
                    </div>
                    <div class="desc">
                        <h4>User Research</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula felis, congue et tristique non, ornare sit amet ipsum. Aliquam erat volutpat. Quisque commodo vestibulum risus, egestas ultricies tellus tempor quis. Proin laoreet molestie condimentum. Sed eget congue nulla, vitae viverra ligula.
                        </p>
                    </div>
                </div>
                <div class="single-service d-flex flex-row pb-30">
                    <div class="icon">
                        <h1>03</h1>
                    </div>
                    <div class="desc">
                        <h4>Sketch & Wireframes</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula felis, congue et tristique non, ornare sit amet ipsum. Aliquam erat volutpat. Quisque commodo vestibulum risus, egestas ultricies tellus tempor quis. Proin laoreet molestie condimentum. Sed eget congue nulla, vitae viverra ligula.
                        </p>
                    </div>
                </div>
                <div class="single-service d-flex flex-row pb-30">
                    <div class="icon">
                        <h1>05</h1>
                    </div>
                    <div class="desc">
                        <h4>User Research</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula felis, congue et tristique non, ornare sit amet ipsum. Aliquam erat volutpat. Quisque commodo vestibulum risus, egestas ultricies tellus tempor quis. Proin laoreet molestie condimentum. Sed eget congue nulla, vitae viverra ligula.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 secvice-right">
                <div class="single-service d-flex flex-row pb-30">
                    <div class="icon">
                        <h1>02</h1>
                    </div>
                    <div class="desc">
                        <h4>User Interface</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula felis, congue et tristique non, ornare sit amet ipsum. Aliquam erat volutpat. Quisque commodo vestibulum risus, egestas ultricies tellus tempor quis. Proin laoreet molestie condimentum. Sed eget congue nulla, vitae viverra ligula.
                        </p>
                    </div>
                </div>
                <div class="single-service d-flex flex-row pb-30">
                    <div class="icon">
                        <h1>04</h1>
                    </div>
                    <div class="desc">
                        <h4>User Experience</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula felis, congue et tristique non, ornare sit amet ipsum. Aliquam erat volutpat. Quisque commodo vestibulum risus, egestas ultricies tellus tempor quis. Proin laoreet molestie condimentum. Sed eget congue nulla, vitae viverra ligula.
                        </p>
                    </div>
                </div>
                <div class="single-service d-flex flex-row pb-30">
                    <div class="icon">
                        <h1>06</h1>
                    </div>
                    <div class="desc">
                        <h4>User Interface</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula felis, congue et tristique non, ornare sit amet ipsum. Aliquam erat volutpat. Quisque commodo vestibulum risus, egestas ultricies tellus tempor quis. Proin laoreet molestie condimentum. Sed eget congue nulla, vitae viverra ligula.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End service Area -->
{% endif %}