{% if config.THEME_SETTINGS.show_home_video_section == "true" %}
<!-- Start home-video Area -->
<section class="home-video-area">
    <div class="container-fluid">
        <div class="row justify-content-end align-items-center">
            <div class="col-lg-4 no-padding video-right">
                <p class="top-title">Tutorial for beginners</p>
                <h1>Watch tutorial <br>
                Video of starting Technologiq</h1>
                <p><span>We are here to listen and deliver excellence</span></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim.
                </p>
            </div>
            <section class="video-area col-lg-6">
                <div class="overlay overlay-bg"></div>
                <div class="container">
                    <div class="video-content">
                        <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="play-btn"><img src="{{ '/img/play-btn.png' }}" alt=""></a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<!-- End home-video Area -->
{% endif %}