{% if config.THEME_SETTINGS.show_price_section == "true" %}
<!-- Start price Area -->
<section class="price-area section-gap" id="price">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Choose the best pricing for you</h1>
                    <p>We have the best pricing available anywhere.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-price no-padding">
                    <div class="price-top">
                        <h4>Real basic</h4>
                    </div>
                    <ul class="lists">
                        <li>2.5 GB Space</li>
                        <li>Secure Online Transfer</li>
                        <li>Unlimited Styles</li>
                        <li>Customer Service</li>
                    </ul>
                    <div class="price-bottom">
                        <div class="price-wrap d-flex flex-row justify-content-center">
                            <span class="price">$</span><h1> 39 </h1><span class="time">Per <br> Month</span>
                        </div>
                        <a href="#" class="primary-btn header-btn">Get Started</a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price no-padding">
                    <div class="price-top">
                        <h4>Real Standred</h4>
                    </div>
                    <ul class="lists">
                        <li>2.5 GB Space</li>
                        <li>Secure Online Transfer</li>
                        <li>Unlimited Styles</li>
                        <li>Customer Service</li>
                    </ul>
                    <div class="price-bottom">
                        <div class="price-wrap d-flex flex-row justify-content-center">
                            <span class="price">$</span><h1> 69 </h1><span class="time">Per <br> Month</span>
                        </div>
                        <a href="#" class="primary-btn header-btn">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price no-padding">
                    <div class="price-top">
                        <h4>Real Ultimate</h4>
                    </div>
                    <ul class="lists">
                        <li>2.5 GB Space</li>
                        <li>Secure Online Transfer</li>
                        <li>Unlimited Styles</li>
                        <li>Customer Service</li>
                    </ul>
                    <div class="price-bottom">
                        <div class="price-wrap d-flex flex-row justify-content-center">
                            <span class="price">$</span><h1> 99 </h1><span class="time">Per <br> Month</span>
                        </div>
                        <a href="#" class="primary-btn header-btn">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End price Area -->
{% endif %}