{% if config.THEME_SETTINGS.show_testimonial_section == "true" %}
<!-- Start testimonial Area -->
<section class="testimonial-area relative section-gap" id="testimonial">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Testimonials from our Clients</h1>
                    <p>Who are extremely in love with our setup and way of thinking.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-testimonial">
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="{{ '/img/t1.png' }}" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula felis, congue et tristique non, ornare sit amet ipsum.
                        </p>
                        <h4 mt-30>Mark Vincenzo</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="{{ '/img/t2.png' }}" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula felis, congue et tristique non, ornare sit amet ipsum.
                        </p>
                        <h4 mt-30>Bethany Mancil</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="{{ '/img/t1.png' }}" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula felis, congue et tristique non, ornare sit amet ipsum.
                        </p>
                        <h4 mt-30>Shawn Brilz</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="{{ '/img/t2.png' }}" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula felis, congue et tristique non, ornare sit amet ipsum.
                        </p>
                        <h4 mt-30>Marcy Humkinz</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="{{ '/img/t1.png' }}" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula felis, congue et tristique non, ornare sit amet ipsum.
                        </p>
                        <h4 mt-30>Alicia Carvalo</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="{{ '/img/t2.png' }}" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ligula felis, congue et tristique non, ornare sit amet ipsum.                        </p>
                        </p>
                        <h4 mt-30>Suzan Vuriliz</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End testimonial Area -->
{% endif %}